h1 {
    background-color: red;
    font-size: xx-large;
}
p {
    font-size: x-large;
}
.centralizar-texto {
    text-align: center;
}
.imagem-roupa{
    margin: auto;
    width: 600px;
    height: 600px;
    border-radius: 30px;
}
.imagem-skate{
    margin: auto;
    width: 300px;
    height: 300px;
    border-radius: 20px;
}
.imagem-camisa{
    margin: auto;
    width: 300px;
    height: 300px;
    border-radius: 20px;

}
body {
    background-color: black;
}
